<div class="blog-grid">
    <article class="blog-card">
        <h2>What's using my Pods memory?</h2>
        <div class="post-meta">
            <span class="tag">Java</span>
            <span class="tag">K8s</span>
        </div>
        <p class="excerpt">
            Java memory utilization and settings when running in Kubernetes/Containers has come a long way in the recent versions of Java.
            The MaxRAMPercentage option is one that is of particular note as it allows ...
        </p>
        <a href="?article=whats-using-my-pod-memory"
           hx-get="/posts/whats-using-my-pod-memory.html"
           hx-target="#content"
           hx-push-url="?article=whats-using-my-pod-memory"
           class="read-more">Read Post</a>
    </article>
    <article class="blog-card">
        <h2>Using a Quarkus Lambda with SES</h2>
        <div class="post-meta">
            <!--            <span class="date">January 15, 2024</span>-->
            <span class="tag">Java</span>
            <span class="tag">Quarkus</span>
            <span class="tag">AWS</span>
        </div>
        <p class="excerpt">
            Until recently, we’ve been running an email server on an EC2 instance.
            I’ve replaced this with the Amazon Simple Email Service. Our Glashfish application now uses SES to send emails. Receiving emails is still a problem though, as the best we could do with SES at the moment is have it deliver those emails to ...
        </p>
        <a href="?article=using-a-quarkus-lambda-with-ses"
           hx-get="/posts/using-a-quarkus-lambda-with-ses.html"
           hx-target="#content"
           hx-push-url="?article=using-a-quarkus-lambda-with-ses"
           class="read-more">Read Post</a>
    </article>
    <article class="blog-card">
        <h2>Java EE on Azure</h2>
        <div class="post-meta">
            <!--            <span class="date">January 15, 2024</span>-->
            <span class="tag">Java</span>
            <span class="tag">Azure</span>
        </div>
        <p class="excerpt">
            I’ve just spent some time with Microsoft Azure and their App Service.
            This gives you the ability to deploy to a provisioned environment, in this case, Tomcat or Wildfly (but others like Java SE, Nodejs and PHP are supported).
            What this service allows you to do, is with nothing more than a maven POM file ...
        </p>
        <a href="?article=java-ee-on-azure"
           hx-get="/posts/java-ee-on-azure.html"
           hx-target="#content"
           hx-push-url="?article=java-ee-on-azure"
           class="read-more">Read Post</a>
    </article>
    <article class="blog-card">
        <h2>New Blog Hosting service – Lightsail</h2>
        <div class="post-meta">
            <!--            <span class="date">January 15, 2024</span>-->
            <span class="tag">Hosting</span>
            <span class="tag">Lightsail</span>
        </div>
        <p class="excerpt">
            I’ve been using WordPress’s online and free, for the first tier,
            blogging site (wordpress.com) as the host for my blog.
            This proved really easy to get going and adding content and publishing it was a breeze.
            Once I’d created a few entries though, I wanted to get a bit more professional with the blog and ...
        </p>
        <a href="?article=new-blog-hosting-service-lightsail"
           hx-get="/posts/new-blog-hosting-service-lightsail.html"
           hx-target="#content"
           hx-push-url="?article=new-blog-hosting-service-lightsail"
           class="read-more">Read Post</a>
    </article>
    <article class="blog-card">
        <h2>Java after January 2019</h2>
        <div class="post-meta">
            <!--            <span class="date">January 15, 2024</span>-->
            <span class="tag">Java</span>
        </div>
        <p class="excerpt">
            There have been a number of blogs and podcasts discussing Oracles new Java release schedule and support model,
            but I thought I’d try describe the concerns and options here in my own way and include my view of the latest changes (as of this writing).
            Release Cadence. Oracle is releasing a new version of Java ...
        </p>
        <a href="?article=java-after-january-2019"
           hx-get="/posts/java-after-january-2019.html"
           hx-target="#content"
           hx-push-url="?article=java-after-january-2019"
           class="read-more">Read Post</a>
    </article>
    <article class="blog-card">
        <h2>Setting up an Email Server</h2>
        <div class="post-meta">
            <!--            <span class="date">January 15, 2024</span>-->
            <span class="tag">Hosting</span>
            <span class="tag">Email</span>
        </div>
        <p class="excerpt">
            Of all the infrastructure and software services needed to host an application, I find dealing with email
            the most troublesome. I’ve looked at mail providers like Zoho (good review here), but find that they
            are either prohibitively expensive or have limitations on the amounts of email you can send per day/hour.
            So while they provide ...
        </p>
        <a href="?article=setting-up-an-email-server"
           hx-get="/posts/setting-up-an-email-server.html"
           hx-target="#content"
           hx-push-url="?article=setting-up-an-email-server"
           class="read-more">Read Post</a>
    </article>
</div>
